<label class="tag-search">
    <span>{{ ui.filter }}</span>
    <input class="tag-filter" type="search" placeholder="{{ ui.filter_placeholder }}" autocomplete="off">
</label>
{% for language in annotation_catalog %}
<section class="language-block">
    <h3>{{ language.language }}</h3>
    <div class="tag-groups">
        {% for group in language.groups %}
        <section class="tag-group">
            <h4>{{ group.name }} <span>{{ group.tags|length }}</span></h4>
            <div class="tag-list">
                {% for item in group.tags %}
                {% if item.has_details %}
                <details class="tag-item" data-tag="{{ item.tag|lower }} {{ item.title|lower }} {{ item.description|lower }} {{ group.name|lower }}">
                    <summary>
                        <code>{{ item.tag }}</code>
                        <span>{{ item.title }}</span>
                    </summary>
                    <p>{{ item.description }}</p>
                </details>
                {% else %}
                <div class="tag-item tag-item--static" data-tag="{{ item.tag|lower }} {{ item.title|lower }} {{ group.name|lower }}">
                    <div class="tag-summary">
                        <code>{{ item.tag }}</code>
                        <span>{{ item.title }}</span>
                    </div>
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </section>
        {% endfor %}
    </div>
</section>
{% endfor %}
