<h1 class="dictionary_header"> {{ _('Dictionary_header') }} ({{ _('langname_even') }})</h1>
<h2 class="dictionary_letter">A</h2>
<table class="dictionary_table">
<thead>
<th>{{ _('word_th_lemma') }}</th><th>{{ _('word_th_gr') }}</th><th>{{ _('word_th_trans_en') }}</th><th>{{ _('word_th_frequency') }}</th></thead>
<tbody>
<tr>
<td class="dictionary_lemma">ab</td><td>pro</td><td>1SG</td><td>1</td></tr>
<tr>
<td class="dictionary_lemma">aj</td><td><Not Sure>, prenoun</td><td>NEG</td><td>1</td></tr>
<tr>
<td class="dictionary_lemma">am</td><td>v</td><td>LV</td><td>1</td></tr>
<tr>
<td class="dictionary_lemma">at</td><td>pro</td><td>1SG</td><td>4</td></tr>
</tbody>
</table>
<h2 class="dictionary_letter">B</h2>
<table class="dictionary_table">
<thead>
<th>{{ _('word_th_lemma') }}</th><th>{{ _('word_th_gr') }}</th><th>{{ _('word_th_trans_en') }}</th><th>{{ _('word_th_frequency') }}</th></thead>
<tbody>
<tr>
<td class="dictionary_lemma">bil</td><td>adv</td><td>далеко</td><td>1</td></tr>
<tr>
<td class="dictionary_lemma">biltan</td><td>coordconn</td><td>куда</td><td>2</td></tr>
</tbody>
</table>
<h2 class="dictionary_letter">D</h2>
<table class="dictionary_table">
<thead>
<th>{{ _('word_th_lemma') }}</th><th>{{ _('word_th_gr') }}</th><th>{{ _('word_th_trans_en') }}</th><th>{{ _('word_th_frequency') }}</th></thead>
<tbody>
<tr>
<td class="dictionary_lemma">den</td><td>v</td><td>LV</td><td>1</td></tr>
<tr>
<td class="dictionary_lemma">dyːl</td><td>n</td><td>ребенок</td><td>1</td></tr>
</tbody>
</table>
<h2 class="dictionary_letter">E</h2>
<table class="dictionary_table">
<thead>
<th>{{ _('word_th_lemma') }}</th><th>{{ _('word_th_gr') }}</th><th>{{ _('word_th_trans_en') }}</th><th>{{ _('word_th_frequency') }}</th></thead>
<tbody>
<tr>
<td class="dictionary_lemma">ej</td><td><Not Sure>, v</td><td>бегать</td><td>2</td></tr>
<tr>
<td class="dictionary_lemma">ej</td><td><Not Sure>, v</td><td>RHYTM</td><td>1</td></tr>
</tbody>
</table>
<h2 class="dictionary_letter">H</h2>
<table class="dictionary_table">
<thead>
<th>{{ _('word_th_lemma') }}</th><th>{{ _('word_th_gr') }}</th><th>{{ _('word_th_trans_en') }}</th><th>{{ _('word_th_frequency') }}</th></thead>
<tbody>
<tr>
<td class="dictionary_lemma">huu</td><td><Not Sure></td><td>RHYTM</td><td>1</td></tr>
</tbody>
</table>
<h2 class="dictionary_letter">K</h2>
<table class="dictionary_table">
<thead>
<th>{{ _('word_th_lemma') }}</th><th>{{ _('word_th_gr') }}</th><th>{{ _('word_th_trans_en') }}</th><th>{{ _('word_th_frequency') }}</th></thead>
<tbody>
<tr>
<td class="dictionary_lemma">kən</td><td><Not Sure></td><td>садиться</td><td>1</td></tr>
</tbody>
</table>
<h2 class="dictionary_letter">N</h2>
<table class="dictionary_table">
<thead>
<th>{{ _('word_th_lemma') }}</th><th>{{ _('word_th_gr') }}</th><th>{{ _('word_th_trans_en') }}</th><th>{{ _('word_th_frequency') }}</th></thead>
<tbody>
<tr>
<td class="dictionary_lemma">nima</td><td>v</td><td>сказать</td><td>1</td></tr>
</tbody>
</table>
<h2 class="dictionary_letter">O</h2>
<table class="dictionary_table">
<thead>
<th>{{ _('word_th_lemma') }}</th><th>{{ _('word_th_gr') }}</th><th>{{ _('word_th_trans_en') }}</th><th>{{ _('word_th_frequency') }}</th></thead>
<tbody>
<tr>
<td class="dictionary_lemma">oq</td><td><Not Sure></td><td>LV</td><td>2</td></tr>
</tbody>
</table>
<h2 class="dictionary_letter">S</h2>
<table class="dictionary_table">
<thead>
<th>{{ _('word_th_lemma') }}</th><th>{{ _('word_th_gr') }}</th><th>{{ _('word_th_trans_en') }}</th><th>{{ _('word_th_frequency') }}</th></thead>
<tbody>
<tr>
<td class="dictionary_lemma">seeŋ</td><td>adv</td><td>здесь</td><td>1</td></tr>
</tbody>
</table>
<h2 class="dictionary_letter">T</h2>
<table class="dictionary_table">
<thead>
<th>{{ _('word_th_lemma') }}</th><th>{{ _('word_th_gr') }}</th><th>{{ _('word_th_trans_en') }}</th><th>{{ _('word_th_frequency') }}</th></thead>
<tbody>
<tr>
<td class="dictionary_lemma">tam</td><td>conn</td><td>или</td><td>1</td></tr>
</tbody>
</table>
<h2 class="dictionary_letter">Ù</h2>
<table class="dictionary_table">
<thead>
<th>{{ _('word_th_lemma') }}</th><th>{{ _('word_th_gr') }}</th><th>{{ _('word_th_trans_en') }}</th><th>{{ _('word_th_frequency') }}</th></thead>
<tbody>
<tr>
<td class="dictionary_lemma">ùs</td><td>n</td><td>береза</td><td>6</td></tr>
</tbody>
</table>
<h2 class="dictionary_letter">Ə</h2>
<table class="dictionary_table">
<thead>
<th>{{ _('word_th_lemma') }}</th><th>{{ _('word_th_gr') }}</th><th>{{ _('word_th_trans_en') }}</th><th>{{ _('word_th_frequency') }}</th></thead>
<tbody>
<tr>
<td class="dictionary_lemma">əkŋ</td><td><Not Sure></td><td>2PL</td><td>1</td></tr>
</tbody>
</table>
